.kg400_Bauwerk{
    font-size: 16px!important;
}

 .unit-price{
    font-size: 20px!important;
 }
 .cents{
    font-size: 18px!important;
 }

 .stage_l_0 .title, .stage_l_1 .title{
    max-width: 760px;
 }

@media (max-width: 1400px){
    body{
        width: 800px!important;
    }

    .detal-list{
        padding-top: 10px;
    }

    .detal-list .title, 
    .detal-item,  
    .detal-list .value, 
    .detal-list .value-label, 
    .detal-list .label
    .kg400_Bauwerk .name_item{
        font-size: 14px!important;
    }

    .PartObjectList .message{
        font-size: 16px!important;
    }

    .detal-item   .unit-price, .kg400_Bauwerk .unit-price{
        font-size: 16px!important;
    }
    .detal-item .cents, .kg400_Bauwerk .cents{
        font-size: 14px!important;
    }

    .kg400_Bauwerk{
        font-size: 14px!important;
    }

    .name_item.left_gap{
        padding-left: 20px!important;
    }

    .stage_l_0 .title, .stage_l_1 .title{
        max-width: 380px;
    }

    .icon.close{
        top: 10px!important;
    }
}

@media (max-width: 900px){
    body{
        width: 600px!important;
    }
    .title{
        font-size: 16px!important;
    }
    .value{
        font-size: 16px!important;
    }

    .unit-price{
        font-size: 16px!important;
    }
    .cents{
        font-size: 14px!important;
    }


}